@import "~typeface-roboto/index.css";
@import "~@osjs/client/dist/main.css";
@import "~@osjs/gui/dist/main.css";
@import "~@osjs/dialogs/dist/main.css";
@import "~@osjs/panels/dist/main.css";
@import "~@osjs/widgets/dist/main.css";

body,
html {
  width: 100%;
  height: 100%;
}

.osjs-window-icon {
  & > div {
    background: url('logo.png') no-repeat 50% 50% !important;
  }
}

.osjs-root {
  background-image: url('wallpaper.png') !important;
}
